.newsticker{border-radius:5px;cursor:default;line-height:15.6px;padding:0
10px 0 10px;height:208px !important;position:relative;overflow:hidden;margin:30px
auto}.newsticker .newsticker-list{position:absolute;top:7.2px;width:100%}.newsticker .newsticker-list .newsticker-item{height:100px;overflow:hidden;white-space:nowrap}.news_title{font-size:15px}